@font-face {
  font-family: 'Bingley';
  src: url('../fonts/Bingley.eot?#iefix') format('embedded-opentype'),  url('../fonts/Bingley.otf')  format('opentype'),
	     url('../fonts/Bingley.woff') format('woff'), url('../fonts/Bingley.ttf')  format('truetype'), url('../fonts/Bingley.svg#Bingley') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha.eot?#iefix') format('embedded-opentype'),  url('../fonts/Neucha.woff') format('woff'), url('../fonts/Neucha.ttf')  format('truetype'), url('../fonts/Neucha.svg#Neucha') format('svg');
  font-weight: normal;
  font-style: normal;
}